@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?4kek8b');
  src:  url('../fonts/icomoon/icomoon.eot?4kek8b#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?4kek8b') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?4kek8b') format('woff'),
    url('../fonts/icomoon/icomoon.svg?4kek8b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-person:before {
  content: "\e9a1";
}
.icon-plus3:before {
  content: "\f067";
}
.icon-glass:before {
  content: "\f000";
}
.icon-search2:before {
  content: "\f002";
}
.icon-heart5:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-image2:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-pencil3:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-gift2:before {
  content: "\f06b";
}
.icon-plane2:before {
  content: "\f072";
}
.icon-calendar5:before {
  content: "\f073";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss2:before {
  content: "\f09e";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link3:before {
  content: "\f0c1";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-umbrella2:before {
  content: "\f0e9";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-mobile2:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-female2:before {
  content: "\f182";
}
.icon-male2:before {
  content: "\f183";
}
.icon-wheelchair:before {
  content: "\f193";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-wifi:before {
  content: "\f1eb";
}
.icon-street-view:before {
  content: "\f21d";
}
.icon-venus:before {
  content: "\f221";
}
.icon-mars:before {
  content: "\f222";
}
.icon-bed:before {
  content: "\f236";
}
.icon-hotel:before {
  content: "\f236";
}
.icon-television:before {
  content: "\f26c";
}
.icon-tv2:before {
  content: "\f26c";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-shower:before {
  content: "\f2cc";
}
.icon-bath:before {
  content: "\f2cd";
}
.icon-bathtub:before {
  content: "\f2cd";
}
.icon-s15:before {
  content: "\f2cd";
}
.icon-snowflake-o:before {
  content: "\f2dc";
}
.icon-uni61:before {
  content: "\61";
}
.icon-uni62:before {
  content: "\62";
}
.icon-uni63:before {
  content: "\63";
}
.icon-uni64:before {
  content: "\64";
}
.icon-uni65:before {
  content: "\65";
}
.icon-uni66:before {
  content: "\66";
}
.icon-uni67:before {
  content: "\67";
}
.icon-uni68:before {
  content: "\68";
}
.icon-uni69:before {
  content: "\69";
}
.icon-uni6A:before {
  content: "\6a";
}
.icon-uni6B:before {
  content: "\6b";
}
.icon-uni6C:before {
  content: "\6c";
}
.icon-uni6D:before {
  content: "\6d";
}
.icon-uni6E:before {
  content: "\6e";
}
.icon-uni6F:before {
  content: "\6f";
}
.icon-uni70:before {
  content: "\70";
}
.icon-uni71:before {
  content: "\71";
}
.icon-uni72:before {
  content: "\72";
}
.icon-uni73:before {
  content: "\73";
}
.icon-uni74:before {
  content: "\74";
}
.icon-uni75:before {
  content: "\75";
}
.icon-uni76:before {
  content: "\76";
}
.icon-uni77:before {
  content: "\77";
}
.icon-uni78:before {
  content: "\78";
}
.icon-uni79:before {
  content: "\79";
}
.icon-uni7A:before {
  content: "\7a";
}
.icon-uni41:before {
  content: "\41";
}
.icon-uni42:before {
  content: "\42";
}
.icon-uni43:before {
  content: "\43";
}
.icon-uni44:before {
  content: "\44";
}
.icon-uni45:before {
  content: "\45";
}
.icon-uni46:before {
  content: "\46";
}
.icon-uni47:before {
  content: "\47";
}
.icon-uni48:before {
  content: "\48";
}
.icon-uni49:before {
  content: "\49";
}
.icon-uni4A:before {
  content: "\4a";
}
.icon-uni4B:before {
  content: "\4b";
}
.icon-uni4C:before {
  content: "\4c";
}
.icon-uni4D:before {
  content: "\4d";
}
.icon-uni4E:before {
  content: "\4e";
}
.icon-uni4F:before {
  content: "\4f";
}
.icon-uni50:before {
  content: "\50";
}
.icon-uni51:before {
  content: "\51";
}
.icon-uni52:before {
  content: "\52";
}
.icon-uni53:before {
  content: "\53";
}
.icon-uni54:before {
  content: "\54";
}
.icon-uni55:before {
  content: "\55";
}
.icon-uni56:before {
  content: "\56";
}
.icon-uni57:before {
  content: "\57";
}
.icon-uni58:before {
  content: "\58";
}
.icon-uni59:before {
  content: "\59";
}
.icon-uni5A:before {
  content: "\5a";
}
.icon-uni30:before {
  content: "\30";
}
.icon-uni31:before {
  content: "\31";
}
.icon-uni32:before {
  content: "\32";
}
.icon-uni33:before {
  content: "\33";
}
.icon-uni34:before {
  content: "\34";
}
.icon-uni35:before {
  content: "\35";
}
.icon-uni36:before {
  content: "\36";
}
.icon-uni37:before {
  content: "\37";
}
.icon-uni38:before {
  content: "\38";
}
.icon-uni39:before {
  content: "\39";
}
.icon-uni21:before {
  content: "\21";
}
.icon-uni22:before {
  content: "\22";
}
.icon-uni23:before {
  content: "\23";
}
.icon-uni24:before {
  content: "\24";
}
.icon-uni25:before {
  content: "\25";
}
.icon-uni26:before {
  content: "\26";
}
.icon-uni27:before {
  content: "\27";
}
.icon-uni28:before {
  content: "\28";
}
.icon-uni29:before {
  content: "\29";
}
.icon-uni2A:before {
  content: "\2a";
}
.icon-uni2B:before {
  content: "\2b";
}
.icon-uni2C:before {
  content: "\2c";
}
.icon-uni2D:before {
  content: "\2d";
}
.icon-uni2E:before {
  content: "\2e";
}
.icon-uni2F:before {
  content: "\2f";
}
.icon-uni3A:before {
  content: "\3a";
}
.icon-uni3B:before {
  content: "\3b";
}
.icon-uni3C:before {
  content: "\3c";
}
.icon-uni3D:before {
  content: "\3d";
}
.icon-uni3E:before {
  content: "\3e";
}
.icon-uni3F:before {
  content: "\3f";
}
.icon-uni40:before {
  content: "\40";
}
.icon-uni5B:before {
  content: "\5b";
}
.icon-uni5D:before {
  content: "\5d";
}
.icon-uni5E:before {
  content: "\5e";
}
.icon-uni5F:before {
  content: "\5f";
}
.icon-uni60:before {
  content: "\60";
}
.icon-uni7B:before {
  content: "\7b";
}
.icon-uni7C:before {
  content: "\7c";
}
.icon-uni7D:before {
  content: "\7d";
}
.icon-uni7E:before {
  content: "\7e";
}
.icon-uni5C:before {
  content: "\5c";
}
.icon-uniE000:before {
  content: "\e000";
}
.icon-uniE001:before {
  content: "\e001";
}
.icon-uniE002:before {
  content: "\e002";
}
.icon-uniE003:before {
  content: "\e003";
}
.icon-uniE004:before {
  content: "\e004";
}
.icon-uniE005:before {
  content: "\e005";
}
.icon-uniE006:before {
  content: "\e006";
}
.icon-uniE007:before {
  content: "\e007";
}
.icon-uniE008:before {
  content: "\e008";
}
.icon-uniE009:before {
  content: "\e009";
}
.icon-uniE00A:before {
  content: "\e00a";
}
.icon-uniE00B:before {
  content: "\e00b";
}
.icon-uniE00C:before {
  content: "\e00c";
}
.icon-uniE00D:before {
  content: "\e00d";
}
.icon-uniE00E:before {
  content: "\e00e";
}
.icon-uniE00F:before {
  content: "\e00f";
}
.icon-uniE010:before {
  content: "\e010";
}
.icon-uniE011:before {
  content: "\e011";
}
.icon-uniE012:before {
  content: "\e012";
}
.icon-uniE013:before {
  content: "\e013";
}
.icon-uniE014:before {
  content: "\e014";
}
.icon-uniE015:before {
  content: "\e015";
}
.icon-uniE016:before {
  content: "\e016";
}
.icon-uniE017:before {
  content: "\e017";
}
.icon-uniE018:before {
  content: "\e018";
}
.icon-uniE019:before {
  content: "\e019";
}
.icon-uniE01A:before {
  content: "\e01a";
}
.icon-uniE01B:before {
  content: "\e01b";
}
.icon-uniE01C:before {
  content: "\e01c";
}
.icon-uniE01E:before {
  content: "\e01e";
}
.icon-uniE01F:before {
  content: "\e01f";
}
.icon-uniE020:before {
  content: "\e020";
}
.icon-uniE021:before {
  content: "\e021";
}
.icon-uniE022:before {
  content: "\e022";
}
.icon-uniE023:before {
  content: "\e023";
}
.icon-uniE024:before {
  content: "\e024";
}
.icon-uniE025:before {
  content: "\e025";
}
.icon-uniE026:before {
  content: "\e026";
}
.icon-uniE027:before {
  content: "\e027";
}
.icon-uniE028:before {
  content: "\e028";
}
.icon-uniE01D:before {
  content: "\e01d";
}
.icon-uniE029:before {
  content: "\e029";
}
.icon-uniE02A:before {
  content: "\e02a";
}
.icon-uniE02B:before {
  content: "\e02b";
}
.icon-uniE02C:before {
  content: "\e02c";
}
.icon-uniE02D:before {
  content: "\e02d";
}
.icon-uniE02E:before {
  content: "\e02e";
}
.icon-uniE02F:before {
  content: "\e02f";
}
.icon-uniE030:before {
  content: "\e030";
}
.icon-uniE031:before {
  content: "\e031";
}
.icon-uniE032:before {
  content: "\e032";
}
.icon-uniE033:before {
  content: "\e033";
}
.icon-uniE034:before {
  content: "\e034";
}
.icon-uniE035:before {
  content: "\e035";
}
.icon-uniE036:before {
  content: "\e036";
}
.icon-uniE037:before {
  content: "\e037";
}
.icon-uniE038:before {
  content: "\e038";
}
.icon-uniE039:before {
  content: "\e039";
}
.icon-uniE03A:before {
  content: "\e03a";
}
.icon-uniE03B:before {
  content: "\e03b";
}
.icon-uniE03C:before {
  content: "\e03c";
}
.icon-uniE03D:before {
  content: "\e03d";
}
.icon-uniE03E:before {
  content: "\e03e";
}
.icon-uniE03F:before {
  content: "\e03f";
}
.icon-uniE040:before {
  content: "\e040";
}
.icon-uniE041:before {
  content: "\e041";
}
.icon-uniE042:before {
  content: "\e042";
}
.icon-uniE043:before {
  content: "\e043";
}
.icon-uniE044:before {
  content: "\e044";
}
.icon-uniE045:before {
  content: "\e045";
}
.icon-uniE046:before {
  content: "\e046";
}
.icon-uniE047:before {
  content: "\e047";
}
.icon-uniE048:before {
  content: "\e048";
}
.icon-uniE049:before {
  content: "\e049";
}
.icon-uniE04A:before {
  content: "\e04a";
}
.icon-uniE04B:before {
  content: "\e04b";
}
.icon-uniE04C:before {
  content: "\e04c";
}
.icon-uniE04D:before {
  content: "\e04d";
}
.icon-uniE04E:before {
  content: "\e04e";
}
.icon-uniE04F:before {
  content: "\e04f";
}
.icon-uniE050:before {
  content: "\e050";
}
.icon-uniE051:before {
  content: "\e051";
}
.icon-uniE052:before {
  content: "\e052";
}
.icon-uniE053:before {
  content: "\e053";
}
.icon-uniE054:before {
  content: "\e054";
}
.icon-uniE055:before {
  content: "\e055";
}
.icon-uniE056:before {
  content: "\e056";
}
.icon-uniE057:before {
  content: "\e057";
}
.icon-uniE058:before {
  content: "\e058";
}
.icon-uniE059:before {
  content: "\e059";
}
.icon-uniE05A:before {
  content: "\e05a";
}
.icon-uniE05B:before {
  content: "\e05b";
}
.icon-uniE05C:before {
  content: "\e05c";
}
.icon-uniE05D:before {
  content: "\e05d";
}
.icon-uniE05E:before {
  content: "\e05e";
}
.icon-uniE05F:before {
  content: "\e05f";
}
.icon-uniE060:before {
  content: "\e060";
}
.icon-uniE061:before {
  content: "\e061";
}
.icon-uniE062:before {
  content: "\e062";
}
.icon-uniE063:before {
  content: "\e063";
}
.icon-uniE064:before {
  content: "\e064";
}
.icon-uniE083:before {
  content: "\e083";
}
.icon-uniE084:before {
  content: "\e084";
}
.icon-number:before {
  content: "\e900";
}
.icon-number2:before {
  content: "\e901";
}
.icon-number3:before {
  content: "\e902";
}
.icon-number4:before {
  content: "\e903";
}
.icon-number5:before {
  content: "\e904";
}
.icon-number6:before {
  content: "\e905";
}
.icon-number7:before {
  content: "\e906";
}
.icon-number8:before {
  content: "\e907";
}
.icon-number9:before {
  content: "\e908";
}
.icon-number10:before {
  content: "\e909";
}
.icon-number11:before {
  content: "\e90a";
}
.icon-number12:before {
  content: "\e90b";
}
.icon-number13:before {
  content: "\e90c";
}
.icon-number14:before {
  content: "\e90d";
}
.icon-number15:before {
  content: "\e90e";
}
.icon-number16:before {
  content: "\e90f";
}
.icon-number17:before {
  content: "\e910";
}
.icon-number18:before {
  content: "\e911";
}
.icon-number19:before {
  content: "\e912";
}
.icon-number20:before {
  content: "\e913";
}
.icon-quote:before {
  content: "\e914";
}
.icon-quote2:before {
  content: "\e915";
}
.icon-tag:before {
  content: "\e916";
}
.icon-tag2:before {
  content: "\e917";
}
.icon-link:before {
  content: "\e918";
}
.icon-link2:before {
  content: "\e919";
}
.icon-cabinet:before {
  content: "\e91a";
}
.icon-cabinet2:before {
  content: "\e91b";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-calendar2:before {
  content: "\e91d";
}
.icon-calendar3:before {
  content: "\e91e";
}
.icon-file:before {
  content: "\e91f";
}
.icon-file2:before {
  content: "\e920";
}
.icon-file3:before {
  content: "\e921";
}
.icon-files:before {
  content: "\e922";
}
.icon-phone:before {
  content: "\e923";
}
.icon-tablet:before {
  content: "\e924";
}
.icon-window:before {
  content: "\e925";
}
.icon-monitor:before {
  content: "\e926";
}
.icon-ipod:before {
  content: "\e927";
}
.icon-tv:before {
  content: "\e928";
}
.icon-camera:before {
  content: "\e929";
}
.icon-camera2:before {
  content: "\e92a";
}
.icon-camera3:before {
  content: "\e92b";
}
.icon-film:before {
  content: "\e92c";
}
.icon-film2:before {
  content: "\e92d";
}
.icon-film3:before {
  content: "\e92e";
}
.icon-microphone:before {
  content: "\e92f";
}
.icon-microphone2:before {
  content: "\e930";
}
.icon-microphone3:before {
  content: "\e931";
}
.icon-drink:before {
  content: "\e932";
}
.icon-drink2:before {
  content: "\e933";
}
.icon-drink3:before {
  content: "\e934";
}
.icon-drink4:before {
  content: "\e935";
}
.icon-coffee:before {
  content: "\e936";
}
.icon-mug:before {
  content: "\e937";
}
.icon-icecream:before {
  content: "\e938";
}
.icon-cake:before {
  content: "\e939";
}
.icon-inbox:before {
  content: "\e93a";
}
.icon-download:before {
  content: "\e93b";
}
.icon-upload:before {
  content: "\e93c";
}
.icon-inbox2:before {
  content: "\e93d";
}
.icon-checkmark:before {
  content: "\e93e";
}
.icon-checkmark2:before {
  content: "\e93f";
}
.icon-cancel:before {
  content: "\e940";
}
.icon-cancel2:before {
  content: "\e941";
}
.icon-plus:before {
  content: "\e942";
}
.icon-plus2:before {
  content: "\e943";
}
.icon-minus:before {
  content: "\e944";
}
.icon-minus2:before {
  content: "\e945";
}
.icon-notice:before {
  content: "\e946";
}
.icon-notice2:before {
  content: "\e947";
}
.icon-cog:before {
  content: "\e948";
}
.icon-cogs:before {
  content: "\e949";
}
.icon-cog2:before {
  content: "\e94a";
}
.icon-warning:before {
  content: "\e94b";
}
.icon-health:before {
  content: "\e94c";
}
.icon-suitcase:before {
  content: "\e94d";
}
.icon-suitcase2:before {
  content: "\e94e";
}
.icon-suitcase3:before {
  content: "\e94f";
}
.icon-picture:before {
  content: "\e950";
}
.icon-pictures:before {
  content: "\e951";
}
.icon-pictures2:before {
  content: "\e952";
}
.icon-android:before {
  content: "\e953";
}
.icon-marvin:before {
  content: "\e954";
}
.icon-pacman:before {
  content: "\e955";
}
.icon-cassette:before {
  content: "\e956";
}
.icon-watch:before {
  content: "\e957";
}
.icon-chronometer:before {
  content: "\e958";
}
.icon-watch2:before {
  content: "\e959";
}
.icon-alarmclock:before {
  content: "\e95a";
}
.icon-time:before {
  content: "\e95b";
}
.icon-time2:before {
  content: "\e95c";
}
.icon-headphones:before {
  content: "\e95d";
}
.icon-wallet:before {
  content: "\e95e";
}
.icon-checkmark3:before {
  content: "\e95f";
}
.icon-cancel3:before {
  content: "\e960";
}
.icon-eye:before {
  content: "\e961";
}
.icon-position:before {
  content: "\e962";
}
.icon-sitemap:before {
  content: "\e963";
}
.icon-sitemap2:before {
  content: "\e964";
}
.icon-cloud:before {
  content: "\e965";
}
.icon-upload2:before {
  content: "\e966";
}
.icon-chart:before {
  content: "\e967";
}
.icon-chart2:before {
  content: "\e968";
}
.icon-chart3:before {
  content: "\e969";
}
.icon-chart4:before {
  content: "\e96a";
}
.icon-chart5:before {
  content: "\e96b";
}
.icon-chart6:before {
  content: "\e96c";
}
.icon-location:before {
  content: "\e96d";
}
.icon-download2:before {
  content: "\e96e";
}
.icon-basket:before {
  content: "\e96f";
}
.icon-folder:before {
  content: "\e970";
}
.icon-gamepad:before {
  content: "\e971";
}
.icon-alarm:before {
  content: "\e972";
}
.icon-alarm-cancel:before {
  content: "\e973";
}
.icon-phone2:before {
  content: "\e974";
}
.icon-phone3:before {
  content: "\e975";
}
.icon-image:before {
  content: "\e976";
}
.icon-open:before {
  content: "\e977";
}
.icon-sale:before {
  content: "\e978";
}
.icon-direction:before {
  content: "\e979";
}
.icon-map:before {
  content: "\e97a";
}
.icon-trashcan:before {
  content: "\e97b";
}
.icon-vote:before {
  content: "\e97c";
}
.icon-graduate:before {
  content: "\e97d";
}
.icon-lab:before {
  content: "\e97e";
}
.icon-tie:before {
  content: "\e97f";
}
.icon-eightball:before {
  content: "\e981";
}
.icon-bowlingpin:before {
  content: "\e983";
}
.icon-baseball:before {
  content: "\e984";
}
.icon-soccer:before {
  content: "\e985";
}
.icon-3dglasses:before {
  content: "\e986";
}
.icon-microwave:before {
  content: "\e987";
}
.icon-refrigerator:before {
  content: "\e988";
}
.icon-oven:before {
  content: "\e989";
}
.icon-washingmachine:before {
  content: "\e98a";
}
.icon-mouse:before {
  content: "\e98b";
}
.icon-smiley:before {
  content: "\e98c";
}
.icon-sad:before {
  content: "\e98d";
}
.icon-mute:before {
  content: "\e98e";
}
.icon-hand:before {
  content: "\e98f";
}
.icon-radio:before {
  content: "\e990";
}
.icon-satellite:before {
  content: "\e991";
}
.icon-medal:before {
  content: "\e992";
}
.icon-medal2:before {
  content: "\e993";
}
.icon-switch:before {
  content: "\e994";
}
.icon-key:before {
  content: "\e995";
}
.icon-cord:before {
  content: "\e996";
}
.icon-locked:before {
  content: "\e997";
}
.icon-unlocked:before {
  content: "\e998";
}
.icon-locked2:before {
  content: "\e999";
}
.icon-unlocked2:before {
  content: "\e99a";
}
.icon-magnifier:before {
  content: "\e99b";
}
.icon-zoomin:before {
  content: "\e99c";
}
.icon-zoomout:before {
  content: "\e99d";
}
.icon-stack:before {
  content: "\e99e";
}
.icon-stack2:before {
  content: "\e99f";
}
.icon-stack3:before {
  content: "\e9a0";
}
.icon-lamp:before {
  content: "\e9a8";
}
.icon-lamp2:before {
  content: "\e9a9";
}
.icon-umbrella:before {
  content: "\e9aa";
}
.icon-streetlight:before {
  content: "\e9ab";
}
.icon-bomb:before {
  content: "\e9ac";
}
.icon-archive:before {
  content: "\e9ad";
}
.icon-battery:before {
  content: "\e9ae";
}
.icon-battery2:before {
  content: "\e9af";
}
.icon-battery3:before {
  content: "\e9b0";
}
.icon-battery4:before {
  content: "\e9b1";
}
.icon-battery5:before {
  content: "\e9b2";
}
.icon-megaphone:before {
  content: "\e9b3";
}
.icon-megaphone2:before {
  content: "\e9b4";
}
.icon-patch:before {
  content: "\e9b5";
}
.icon-pil:before {
  content: "\e9b6";
}
.icon-injection:before {
  content: "\e9b7";
}
.icon-thermometer:before {
  content: "\e9b8";
}
.icon-lamp3:before {
  content: "\e9b9";
}
.icon-lamp4:before {
  content: "\e9ba";
}
.icon-lamp5:before {
  content: "\e9bb";
}
.icon-cube:before {
  content: "\e9bc";
}
.icon-box:before {
  content: "\e9bd";
}
.icon-box2:before {
  content: "\e9be";
}
.icon-diamond:before {
  content: "\e9bf";
}
.icon-bag:before {
  content: "\e9c0";
}
.icon-moneybag:before {
  content: "\e9c1";
}
.icon-grid:before {
  content: "\e9c2";
}
.icon-grid2:before {
  content: "\e9c3";
}
.icon-list:before {
  content: "\e9c4";
}
.icon-list2:before {
  content: "\e9c5";
}
.icon-ruler:before {
  content: "\e9c6";
}
.icon-ruler2:before {
  content: "\e9c7";
}
.icon-layout:before {
  content: "\e9c8";
}
.icon-layout2:before {
  content: "\e9c9";
}
.icon-layout3:before {
  content: "\e9ca";
}
.icon-layout4:before {
  content: "\e9cb";
}
.icon-layout5:before {
  content: "\e9cc";
}
.icon-layout6:before {
  content: "\e9cd";
}
.icon-layout7:before {
  content: "\e9ce";
}
.icon-layout8:before {
  content: "\e9cf";
}
.icon-layout9:before {
  content: "\e9d0";
}
.icon-layout10:before {
  content: "\e9d1";
}
.icon-layout11:before {
  content: "\e9d2";
}
.icon-layout12:before {
  content: "\e9d3";
}
.icon-layout13:before {
  content: "\e9d4";
}
.icon-layout14:before {
  content: "\e9d5";
}
.icon-tools:before {
  content: "\e9d6";
}
.icon-screwdriver:before {
  content: "\e9d7";
}
.icon-paint:before {
  content: "\e9d8";
}
.icon-hammer:before {
  content: "\e9d9";
}
.icon-brush:before {
  content: "\e9da";
}
.icon-pen:before {
  content: "\e9db";
}
.icon-chat:before {
  content: "\e9dc";
}
.icon-comments:before {
  content: "\e9dd";
}
.icon-chat2:before {
  content: "\e9de";
}
.icon-chat3:before {
  content: "\e9df";
}
.icon-volume:before {
  content: "\e9e0";
}
.icon-volume2:before {
  content: "\e9e1";
}
.icon-volume3:before {
  content: "\e9e2";
}
.icon-equalizer:before {
  content: "\e9e3";
}
.icon-resize:before {
  content: "\e9e4";
}
.icon-resize2:before {
  content: "\e9e5";
}
.icon-stretch:before {
  content: "\e9e6";
}
.icon-narrow:before {
  content: "\e9e7";
}
.icon-resize3:before {
  content: "\e9e8";
}
.icon-download3:before {
  content: "\e9e9";
}
.icon-calculator:before {
  content: "\e9ea";
}
.icon-library:before {
  content: "\e9eb";
}
.icon-auction:before {
  content: "\e9ec";
}
.icon-justice:before {
  content: "\e9ed";
}
.icon-stats:before {
  content: "\e9ee";
}
.icon-stats2:before {
  content: "\e9ef";
}
.icon-attachment:before {
  content: "\e9f0";
}
.icon-hourglass:before {
  content: "\e9f1";
}
.icon-abacus:before {
  content: "\e9f2";
}
.icon-pencil:before {
  content: "\e9f3";
}
.icon-pen2:before {
  content: "\e9f4";
}
.icon-pin:before {
  content: "\e9f5";
}
.icon-pin2:before {
  content: "\e9f6";
}
.icon-discout:before {
  content: "\e9f7";
}
.icon-edit:before {
  content: "\e9f8";
}
.icon-scissors:before {
  content: "\e9f9";
}
.icon-profile:before {
  content: "\e9fa";
}
.icon-profile2:before {
  content: "\e9fb";
}
.icon-profile3:before {
  content: "\e9fc";
}
.icon-rotate:before {
  content: "\e9fd";
}
.icon-rotate2:before {
  content: "\e9fe";
}
.icon-reply:before {
  content: "\e9ff";
}
.icon-forward:before {
  content: "\ea00";
}
.icon-retweet:before {
  content: "\ea01";
}
.icon-shuffle:before {
  content: "\ea02";
}
.icon-loop:before {
  content: "\ea03";
}
.icon-crop:before {
  content: "\ea04";
}
.icon-square:before {
  content: "\ea05";
}
.icon-square2:before {
  content: "\ea06";
}
.icon-circle:before {
  content: "\ea07";
}
.icon-dollar:before {
  content: "\ea08";
}
.icon-dollar2:before {
  content: "\ea09";
}
.icon-coins:before {
  content: "\ea0a";
}
.icon-pig:before {
  content: "\ea0b";
}
.icon-bookmark:before {
  content: "\ea0c";
}
.icon-bookmark2:before {
  content: "\ea0d";
}
.icon-addressbook:before {
  content: "\ea0e";
}
.icon-addressbook2:before {
  content: "\ea0f";
}
.icon-safe:before {
  content: "\ea10";
}
.icon-envelope:before {
  content: "\ea11";
}
.icon-envelope2:before {
  content: "\ea12";
}
.icon-radioactive:before {
  content: "\ea13";
}
.icon-music:before {
  content: "\ea14";
}
.icon-presentation:before {
  content: "\ea15";
}
.icon-male:before {
  content: "\ea16";
}
.icon-female:before {
  content: "\ea17";
}
.icon-aids:before {
  content: "\ea18";
}
.icon-heart:before {
  content: "\ea19";
}
.icon-info:before {
  content: "\ea1a";
}
.icon-info2:before {
  content: "\ea1b";
}
.icon-piano:before {
  content: "\ea1c";
}
.icon-rain:before {
  content: "\ea1d";
}
.icon-snow:before {
  content: "\ea1e";
}
.icon-lightning:before {
  content: "\ea1f";
}
.icon-sun:before {
  content: "\ea20";
}
.icon-moon:before {
  content: "\ea21";
}
.icon-cloudy:before {
  content: "\ea22";
}
.icon-cloudy2:before {
  content: "\ea23";
}
.icon-car:before {
  content: "\ea24";
}
.icon-bike:before {
  content: "\ea25";
}
.icon-truck:before {
  content: "\ea26";
}
.icon-bus:before {
  content: "\ea27";
}
.icon-bike2:before {
  content: "\ea28";
}
.icon-plane:before {
  content: "\ea29";
}
.icon-paperplane:before {
  content: "\ea2a";
}
.icon-rocket:before {
  content: "\ea2b";
}
.icon-book:before {
  content: "\ea2c";
}
.icon-book2:before {
  content: "\ea2d";
}
.icon-barcode:before {
  content: "\ea2e";
}
.icon-barcode2:before {
  content: "\ea2f";
}
.icon-expand:before {
  content: "\ea30";
}
.icon-collapse:before {
  content: "\ea31";
}
.icon-popout:before {
  content: "\ea32";
}
.icon-popin:before {
  content: "\ea33";
}
.icon-target:before {
  content: "\ea34";
}
.icon-badge:before {
  content: "\ea35";
}
.icon-badge2:before {
  content: "\ea36";
}
.icon-ticket:before {
  content: "\ea37";
}
.icon-ticket2:before {
  content: "\ea38";
}
.icon-ticket3:before {
  content: "\ea39";
}
.icon-microphone4:before {
  content: "\ea3a";
}
.icon-cone:before {
  content: "\ea3b";
}
.icon-blocked:before {
  content: "\ea3c";
}
.icon-stop:before {
  content: "\ea3d";
}
.icon-keyboard:before {
  content: "\ea3e";
}
.icon-keyboard2:before {
  content: "\ea3f";
}
.icon-radio2:before {
  content: "\ea40";
}
.icon-printer:before {
  content: "\ea41";
}
.icon-checked:before {
  content: "\ea42";
}
.icon-error:before {
  content: "\ea43";
}
.icon-add:before {
  content: "\ea44";
}
.icon-minus3:before {
  content: "\ea45";
}
.icon-alert:before {
  content: "\ea46";
}
.icon-pictures3:before {
  content: "\ea47";
}
.icon-atom:before {
  content: "\ea48";
}
.icon-eyedropper:before {
  content: "\ea49";
}
.icon-globe:before {
  content: "\ea4a";
}
.icon-globe2:before {
  content: "\ea4b";
}
.icon-shipping:before {
  content: "\ea4c";
}
.icon-yingyang:before {
  content: "\ea4d";
}
.icon-compass:before {
  content: "\ea4e";
}
.icon-zip:before {
  content: "\ea4f";
}
.icon-zip2:before {
  content: "\ea50";
}
.icon-anchor:before {
  content: "\ea51";
}
.icon-lockedheart:before {
  content: "\ea52";
}
.icon-magnet:before {
  content: "\ea53";
}
.icon-navigation:before {
  content: "\ea54";
}
.icon-tags:before {
  content: "\ea55";
}
.icon-heart2:before {
  content: "\ea56";
}
.icon-heart3:before {
  content: "\ea57";
}
.icon-usb:before {
  content: "\ea58";
}
.icon-clipboard:before {
  content: "\ea59";
}
.icon-clipboard2:before {
  content: "\ea5a";
}
.icon-clipboard3:before {
  content: "\ea5b";
}
.icon-switch2:before {
  content: "\ea5c";
}
.icon-ruler3:before {
  content: "\ea5d";
}
.icon-mobile:before {
  content: "\e065";
}
.icon-laptop:before {
  content: "\e066";
}
.icon-desktop:before {
  content: "\e067";
}
.icon-tablet2:before {
  content: "\e068";
}
.icon-phone4:before {
  content: "\e069";
}
.icon-document:before {
  content: "\e06a";
}
.icon-documents:before {
  content: "\e06b";
}
.icon-search:before {
  content: "\e06c";
}
.icon-clipboard4:before {
  content: "\e06d";
}
.icon-newspaper:before {
  content: "\e06e";
}
.icon-notebook:before {
  content: "\e06f";
}
.icon-book-open:before {
  content: "\e070";
}
.icon-browser:before {
  content: "\e071";
}
.icon-calendar4:before {
  content: "\e072";
}
.icon-presentation2:before {
  content: "\e073";
}
.icon-picture2:before {
  content: "\e074";
}
.icon-pictures4:before {
  content: "\e075";
}
.icon-video:before {
  content: "\e076";
}
.icon-camera4:before {
  content: "\e077";
}
.icon-printer2:before {
  content: "\e078";
}
.icon-toolbox:before {
  content: "\e079";
}
.icon-briefcase:before {
  content: "\e07a";
}
.icon-wallet2:before {
  content: "\e07b";
}
.icon-gift:before {
  content: "\e07c";
}
.icon-bargraph:before {
  content: "\e07d";
}
.icon-grid3:before {
  content: "\e07e";
}
.icon-expand2:before {
  content: "\e07f";
}
.icon-focus:before {
  content: "\e080";
}
.icon-edit2:before {
  content: "\e081";
}
.icon-adjustments:before {
  content: "\e082";
}
.icon-ribbon:before {
  content: "\e085";
}
.icon-hourglass2:before {
  content: "\e086";
}
.icon-lock:before {
  content: "\e087";
}
.icon-megaphone3:before {
  content: "\e088";
}
.icon-shield:before {
  content: "\e089";
}
.icon-trophy:before {
  content: "\e08a";
}
.icon-flag:before {
  content: "\e08b";
}
.icon-map2:before {
  content: "\e08c";
}
.icon-puzzle:before {
  content: "\e08d";
}
.icon-basket2:before {
  content: "\e08e";
}
.icon-envelope3:before {
  content: "\e08f";
}
.icon-streetsign:before {
  content: "\e090";
}
.icon-telescope:before {
  content: "\e091";
}
.icon-gears:before {
  content: "\e092";
}
.icon-key2:before {
  content: "\e093";
}
.icon-paperclip:before {
  content: "\e094";
}
.icon-attachment2:before {
  content: "\e095";
}
.icon-pricetags:before {
  content: "\e096";
}
.icon-lightbulb:before {
  content: "\e097";
}
.icon-layers:before {
  content: "\e098";
}
.icon-pencil2:before {
  content: "\e099";
}
.icon-tools2:before {
  content: "\e09a";
}
.icon-tools-2:before {
  content: "\e09b";
}
.icon-scissors2:before {
  content: "\e09c";
}
.icon-paintbrush:before {
  content: "\e09d";
}
.icon-magnifying-glass:before {
  content: "\e09e";
}
.icon-circle-compass:before {
  content: "\e09f";
}
.icon-linegraph:before {
  content: "\e0a0";
}
.icon-mic:before {
  content: "\e0a1";
}
.icon-strategy:before {
  content: "\e0a2";
}
.icon-beaker:before {
  content: "\e0a3";
}
.icon-caution:before {
  content: "\e0a4";
}
.icon-recycle:before {
  content: "\e0a5";
}
.icon-anchor2:before {
  content: "\e0a6";
}
.icon-profile-male:before {
  content: "\e0a7";
}
.icon-profile-female:before {
  content: "\e0a8";
}
.icon-bike3:before {
  content: "\e0a9";
}
.icon-wine:before {
  content: "\e0aa";
}
.icon-hotairballoon:before {
  content: "\e0ab";
}
.icon-globe3:before {
  content: "\e0ac";
}
.icon-genius:before {
  content: "\e0ad";
}
.icon-map-pin:before {
  content: "\e0ae";
}
.icon-dial:before {
  content: "\e0af";
}
.icon-chat4:before {
  content: "\e0b0";
}
.icon-heart4:before {
  content: "\e0b1";
}
.icon-cloud2:before {
  content: "\e0b2";
}
.icon-upload3:before {
  content: "\e0b3";
}
.icon-download4:before {
  content: "\e0b4";
}
.icon-target2:before {
  content: "\e0b5";
}
.icon-hazardous:before {
  content: "\e0b6";
}
.icon-piechart:before {
  content: "\e0b7";
}
.icon-speedometer:before {
  content: "\e0b8";
}
.icon-global:before {
  content: "\e0b9";
}
.icon-compass2:before {
  content: "\e0ba";
}
.icon-lifesaver:before {
  content: "\e0bb";
}
.icon-clock:before {
  content: "\e0bc";
}
.icon-aperture:before {
  content: "\e0bd";
}
.icon-quote3:before {
  content: "\e0be";
}
.icon-scope:before {
  content: "\e0bf";
}
.icon-alarmclock2:before {
  content: "\e0c0";
}
.icon-refresh:before {
  content: "\e0c1";
}
.icon-happy:before {
  content: "\e0c2";
}
.icon-sad2:before {
  content: "\e0c3";
}
.icon-facebook:before {
  content: "\e0c4";
}
.icon-twitter:before {
  content: "\e0c5";
}
.icon-googleplus:before {
  content: "\e0c6";
}
.icon-rss:before {
  content: "\e0c7";
}
.icon-tumblr:before {
  content: "\e0c8";
}
.icon-linkedin:before {
  content: "\e0c9";
}